## Rubric

Instructions: DELETE this cell before you submit via a `git push` to your repo before deadline. This cell is for your reference only and is not needed in your report. 

Scoring: Out of 10 points

- Each Developing  => -2 pts
- Each Unsatisfactory/Missing => -4 pts
  - until the score is 

If students address the detailed feedback in a future checkpoint they will earn these points back


|                  | Unsatisfactory                                                                                                                                                                                                    | Developing                                                                                                                                                                                              | Proficient                                     | Excellent                                                                                                                              |
|------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| Data relevance   | Did not have data relevant to their question. Or the datasets don't work together because there is no way to line them up against each other. If there are multiple datasets, most of them have this trouble | Data was only tangentially relevant to the question or a bad proxy for the question. If there are multiple datasets, some of them may be irrelevant or can't be easily combined.                       | All data sources are relevant to the question. | Multiple data sources for each aspect of the project. It's clear how the data supports the needs of the project.                         |
| Data description | Dataset or its cleaning procedures are not described. If there are multiple datasets, most have this trouble                                                                                              | Data was not fully described. If there are multiple datasets, some of them are not fully described                                                                                                      | Data was fully described                       | The details of the data descriptions and perhaps some very basic EDA also make it clear how the data supports the needs of the project. |
| Data wrangling   | Did not obtain data. They did not clean/tidy the data they obtained.  If there are multiple datasets, most have this trouble                                                                                 | Data was partially cleaned or tidied. Perhaps you struggled to verify that the data was clean because they did not present it well. If there are multiple datasets, some have this trouble | The data is cleaned and tidied.                | The data is spotless and they used tools to visualize the data cleanliness and you were convinced at first glance                      |

# COGS 108 - Data Checkpoint

## Authors

For each group member please list how they contributed to this project using these terms:
> Analysis, Background research, Conceptualization, Data curation, Experimental investigation, Methodology, Project administration, Software, Visualization, Writing – original draft, Writing – review & editing

- **Muhammed Abdalla:** Software, Writing - original draft, Writing - review & editing
- **Katherine Chui:** Software, Visualization, Writing - review & editing 
- **Iha Gadiya:** Analysis, Methodology, Visualization, Writing – review & editing
- **Jeanne Lee:** Background research, Conceptualization, Analysis, Methodology, Visualizatioin, Writing - original draft, Writing - review & editing 
- **Jacob Ortiz:** Analysis, Background research, Conceptualization, Data curation, Expiremental investigation, Methodology, Project administration, Software, Writing – original draft, Writing – review & editing

## Research Question

Were higher per-capita $CO_2$ emissions associated with greater climate-related disaster impacts (in the form of higher mortality and reduced GDP growth) for lower-income countries than for higher-income countries between the years 2005-2023?

## Background and Prior Work

Global warming is largely caused by the accumulation of human-emitted greenhouse gases (GHG), namely, carbon dioxide ($CO_2$), which accounts for about 66% of human-emitted GHGs. <a name="cite_note-1"></a><sup>1</sup> Some sources of emission include burning fossil fuels for energy, transportation, and manufacturing. Global datasets, such as those maintained by Our World in Data, provide long-term measurements of $CO_2$ emissions, as well as their trends across countries. They show clear differences between high- and low-income nations in per-capita emission levels. <a name="cite_note-2"></a><sup>2</sup> In addition, the rise in $CO_2$ emissions result in detrimental climate change, with shifting climate patterns increasing the severity and frequency of extreme weather events such as heatwaves, floods, and storms. <a name="cite_note-3"></a><sup>3</sup> The differences between high- and low-income nations in per-capita emission levels, as well as the climate-disaster impacts experienced, raises questions about climate inequality.
\
\
There has been growing research and discussion on climate inequality, which explores the ways in which climate change may disproportionately impact different groups of people. International disaster records, such as those by EM-DAT, show that disaster-related mortality rates vary over time and across regions, with certain countries experiencing significantly higher mortality rates per 100,000 people than others. <a name="cite_note-4"></a><sup>4</sup> Despite contributing far less to GHG emissions, lower-income countries and vulnerable populations typically experience larger relative burdens of climate-driven losses, compared to wealthier nations and privileged populations. <a name="cite_note-5"></a><sup>5</sup>
\
\
We can examine these climate-related disaster impacts in the form of higher mortality and economic strain. Research from global monitoring organizations highlight that economic losses are especially exacerbated in regions with weaker infrastructure and lower capacity for disaster response. <a name="cite_note-6"></a><sup>6</sup> For example, climate-related harms can greatly reduce GDP growth in poorer regions and slow overall economic development, further contributing to the wider disparity in wealth and well-being between countries. <a name="cite_note-7"></a><sup>7</sup> Finally, multiple analyses and systematic reviews show that inequalities in capacity and access to resources can compound the harmful effects of climate change, thus worsening the outcomes for these disadvantaged groups both within and across countries. <a name="cite_note-8"></a><sup>8</sup>
\
\
These findings suggest that combining measures of $CO_2$ emissions and disaster impacts, in the form of higher mortality and reduced GDP per capita, can show us different countries' climate contribution versus vulnerability. By utilizing publicly available datasets on per-capita $CO_2$ emissions, mortality rates, and GDP per capita, we aim to quantify the relationship between human activity and climate outcomes across low- and high-income countries. This approach builds on prior work in climate change science and economic inequality research while applying data science and analysis practices and methods covered in this course.
\
\
<a name="cite_note-1"></a>
1.[^](#cite_ref-1) "Current GHG Levels," NOAA. https://www.climate.gov/ghg/current-levels

<a name="cite_note-2"></a>
2.[^](#cite_ref-2) "CO₂ emissions per capita," Our World in Data. https://ourworldindata.org/grapher/co-emissions-per-capita

<a name="cite_note-3"></a>
3.[^](#cite_ref-3) "Climate Change," Our World in Data. https://ourworldindata.org/climate-change

<a name="cite_note-4"></a>
4.[^](#cite_ref-4) "Global natural disaster death rates," Our World in Data (processed from EM-DAT). https://ourworldindata.org/grapher/natural-disaster-death-rates

<a name="cite_note-5"></a>
5.[^](#cite_ref-5) "Climate Inequality Report 2023," Climate Inequality Report. https://wid.world/wp-content/uploads/2023/01/CBV2023-ClimateInequalityReport-2.pdf

<a name="cite_note-6"></a>
6.[^](#cite_ref-6) "Economic damage by natural disaster type," Our World in Data. https://ourworldindata.org/grapher/economic-damage-from-natural-disasters

<a name="cite_note-7"></a>
7.[^](#cite_ref-7) N.S. Diffenbaugh & M. Burke, "Global warming has increased global economic inequality," *Proceedings of the National Academy of Sciences*, 2019. https://pmc.ncbi.nlm.nih.gov/articles/PMC6525504/

<a name="cite_note-8"></a>
8.[^](#cite_ref-8) R. Zahnow et al., "Climate change inequalities: A systematic review," *ScienceDirect*, 2025. https://www.sciencedirect.com/science/article/pii/S1462901125000371

## Hypothesis

We hypothesize that when countries are grouped by income level, the association between $CO_2$ emissions and disaster impacts will differ in that:

- Lower-income countries will experiene a greater ratio of climate-related disaster impacts to per-capita $CO_2$ emissions. 

- Higher-income countries will experience a lower ratio of climate-related disaster impacts to per-capita $CO_2$ emissions. 


*Note: Climate-related disaster impacts is defined by both increased mortality rate and decreased GDP per capita.*

## Data

### Data overview
- Dataset #1:
  - Dataset Name: CO₂ emissions per capita
  - Link to the dataset: https://ourworldindata.org/grapher/co-emissions-per-capita?tab=table 
  - Number of observations: After restricting to 2005–2023 and real countries, the dataset contains 4085 country–year observations (check 02-EDACheckpoint.ipynb for how this was done.)
  - Number of variables: 4, which correspond to the 4 columns in this dataset.
  - Description of the variables most relevant to this project: 
    - entity: This is the country name, used to identify each country and interpret results.
    - code: This is a 3 letter country code which helps us reliably merge datasets across sources.
    - year: This is year of observation which is used to align all datasets on a shared time frame (2005 - 2023).
    - emissions_total_per_capita: Total CO2 emissions per person which will be primary measure of human activity contributing to climate change and serves as the key independent variable in our analysis.
  - Descriptions of any shortcomings this dataset has with repsect to the project: 
    - National averages hide within country inequality.
    - Does not capture historical prior to dataset year coverage.
    - Does not directly measure local environmental exposure.
- Dataset #2:
  - Dataset Name: Rate of deaths and missing persons due to natural disasters, 2005 to 2023
  - Link to the dataset: https://ourworldindata.org/grapher/deaths-and-missing-persons-due-to-natural-disasters?tab=line 
  - Number of observations: After restricting to 2005–2023 and real countries, the dataset contains 1966 country–year observations (check 02-EDACheckpoint.ipynb for how this was done.)
  - Number of variables: 4, which correspond to the 4 columns in this dataset.
  - Description of the variables most relevant to this project: 
    - entity: This is the country name, used to identify each country and interpret results.
    - code: This is a 3 letter country code which helps us reliably merge datasets across sources.
    - year: This is year of observation which is used to align all datasets on a shared time frame (2005 - 2023).
    - _13_1_1__vc_dsr_mtmp: Rate of deaths and missing persons due to natural disasters per 100,000 population, this is used as a proxy for climate related harm and vulnerability.
  - Descriptions of any shortcomings this dataset has with repsect to the project: 
    - Underreporting likely in lower income countries.
    - Not all natural disasters are necessarily solely climate driven.
    - Mortality does not capture non lethal impacts such as displacement and destruction.
- Dataset #3: 
  - Dataset Name: GDP per capita
  - Link to the dataset: https://ourworldindata.org/grapher/gdp-per-capita-worldbank?tab=table
  - Number of observations: After restricting to 2005–2023 and real countries, the dataset contains 4005 country–year observations (check 02-EDACheckpoint.ipynb for how this was done.)
  - Number of variables: 5, which correspond to the 5 columns in this dataset
  - Description of the variables most relevant to this project: 
    - entity: This is the country name, used to identify each country and interpret results.
    - code: This is a 3 letter country code which helps us reliably merge datasets across sources.
    - year: This is year of observation which is used to align all datasets on a shared time frame (2005 - 2023).
    - ny_gdp_pcap_pp_kd: GDP per capita in constant USD which serves as a proxy for national wealth and income level, which we use to group countries into low and high income categories.
  - Descriptions of any shortcomings this dataset has with repsect to the project: 
    - Does not measure income inequality within countries.
    - 'Informal' economies not fully captured or those who may not be a part of the World bank.
    - Wealth does not necessarily equal adaptive capacity in all cases.


All three datasets are structured by country and year, which allows them to be merged into a single dataset using these shared columns. After aligning the datasets to a common time range (2005–2020) and removing missing values, each row in the combined dataset represents a single country in a specific year, with corresponding values for $CO_2$ emissions per capita, disaster impact, and GDP per capita. Countries will then be grouped into lower-income and higher-income categories based on GDP per capita to support comparative analysis.

In [1]:
# Run this code every time when you're actively developing modules in .py files.  It's not needed if you aren't making modules
#
## this code is necessary for making sure that any modules we load are updated here 
## when their source code .py files are modified

%load_ext autoreload
%autoreload 2

In [2]:
# Setup code -- this only needs to be run once after cloning the repo!
# this code downloads the data from its source to the `data/00-raw/` directory
# if the data hasn't updated you don't need to do this again!

# if you don't already have these packages (you should!) uncomment this line
%pip install requests tqdm
from tqdm import tqdm

import sys
sys.path.append('./modules') # this tells python where to look for modules to import

import get_data # this is where we get the function we need to download data

# replace the urls and filenames in this list with your actual datafiles
# yes you can use Google drive share links or whatever
# format is a list of dictionaries; 
# each dict has keys of 
#   'url' where the resource is located
#   'filename' for the local filename where it will be stored 
datafiles = [
    { 'url': 'https://ourworldindata.org/grapher/deaths-and-missing-persons-due-to-natural-disasters.csv?v=1&csvType=full&useColumnShortNames=true', 'filename':'death_missing_persons.csv'},
]

get_data.get_raw(datafiles,destination_directory='data/00-raw/')

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /home/kachui/.local/lib/python3.11/site-packages (2.32.5)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.11/site-packages (4.66.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

Overall Download Progress:   0%|          | 0/1 [00:00<?, ?it/s]
Downloading death_missing_persons.csv: 0.00B [00:00, ?B/s]
Overall Download Progress: 100%|██████████| 1/1 [00:00<00:00,  7.76it/s]

Successfully downloaded: death_missing_persons.csv

### Dataset #1 CO_2 Emissions Per Capita 

This dataset tracks carbon dioxide emissions per person across countries from 2005 to 2023. CO_2 is the primary greenhouse gas of driving climate change, and measuring it on a per capita basis allows for fair comparison between countries of different popullation sizes.
The key metric is "emissions_total_per_capita", meaured in tonnes per person. This represents the average amount of CO_2 emissions attributable to each indvidiaul ina country for a given year, calculated by dividing total national emissions by population. For context, the global average is approximately 4.7 to 5.0 tonnes per person. However, values vary dramatically when it comes to different economic states. Low-income nations may report below 0.1 tonnes while strong eceonomic areas typically range from 2 to 15 tonnes.
Each row in the dataset corresponds to a single country for a specific year, with code providinga three-letter abbreviation for each country to allow easier mergining with other datasets. Only countries with valid ISO codes are included as entities, while other regions or aggregates are excluded. Years are also restricted to 2005-2023 to ensure consistency across analyses.
There are several considerations when using this dataset. First, national averages hide within country inequality. Emission can vary dramatically between urban and rural areas across income group within the same nation. Second, the data uses production based accounting, meaning emission are counted where good are produced rather than where they are consumed. This means a country importing manufactured goods appears cleaner whil the producing country carries the emissions burden. Third, the dataset exlcudes emissions from land use changes and international shipping are only included in global totals, not assinged to individual countries. Finally, data quality varies by country, as estimates rely on national statistics taht may be less reliable for nations with limited statistical infrastructure.

In [4]:
import pandas as pd 
#load dataset
co2 = pd.read_csv("https://ourworldindata.org/grapher/co-emissions-per-capita.csv?v=1&csvType=full&useColumnShortNames=true", 
                  storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'},
                  na_values =['', ' ', 'NA', 'N/A']
                 )
print(f"Dataset loaded successfully!") 
print(f"Initial shape: {co2.shape}")

Dataset loaded successfully!
Initial shape: (26509, 4)

In [5]:
## demonstrate size of dataset 

print("DATASET SIZE")
print("-"*40) 

print(f"Total observations: {co2.shape[0]:,} rows")
print(f"total variables: {co2.shape[1]} columns") 
print(f"unique countries/entities: {co2['entity'].nunique():,}")
print(f"Year range: {co2['year'].min()} to {co2['year'].max()}")
print(f"Unique years: {co2['year'].nunique()}")

DATASET SIZE
----------------------------------------
Total observations: 26,509 rows
total variables: 4 columns
unique countries/entities: 231
Year range: 1750 to 2024
Unique years: 230

In [6]:
## missing data analysis 
print("MISSING DATA ANALYSIS") 
print("-"*40) 

missing = co2.isnull().sum() 
print("Missing values by column:") 
for col in co2.columns: 
    print (f" {col}: {missing[col]:,} missing ({missing[col]/len(co2)*100:.1f}%)" if missing[col]>0 else f" {col}: 0 missing") 

no_code = co2[co2['code'].isna()] ['entity'] 
print(f"\nEntities without codes: {no_code.nunique()}") 
print("Examples", list(no_code.unique())[:5])

MISSING DATA ANALYSIS
----------------------------------------
Missing values by column:
 entity: 0 missing
 code: 3,303 missing (12.5%)
 year: 0 missing
 emissions_total_per_capita: 0 missing

Entities without codes: 16
Examples ['Africa', 'Asia', 'Asia (excl. China and India)', 'Europe', 'Europe (excl. EU-27)']

In [11]:
## clean the data 
print("\n6, DATA CLEANING") 
print("-"*40) 

co2_clean = co2[(co2['year'] >= 2005) & (co2['year'] <=2023) & (co2['code'].notna())].copy() 

## find and flag outliers 
q1, q3 = co2['emissions_total_per_capita'].quantile([0.25, 0.75]) 
iqr = q3 - q1
co2['is_outlier'] = (co2['emissions_total_per_capita'] > q3 + 1.5*(q3-q1)).astype(int) 
print(f"Outliers: {co2['is_outlier'].sum()} ({co2['is_outlier'].sum()/len(co2)*100:1f}%)") 

print("\nTop 10 highest emissions values:") 
top_outliers = co2.nlargest(10, 'emissions_total_per_capita')[['entity', 'year', 'emissions_total_per_capita']]
display(top_outliers) 
#Save 
co2_clean.to_csv('data/02-processed/co2-emissions-processed.csv', index=False) 
print("/Processed data saved")

6, DATA CLEANING
----------------------------------------
Outliers: 2114 (7.974650%)

Top 10 highest emissions values:

                          entity  year  emissions_total_per_capita
21106  Sint Maarten (Dutch part)  1954                   782.74340
21108  Sint Maarten (Dutch part)  1956                   741.27240
21103  Sint Maarten (Dutch part)  1951                   682.20276
21107  Sint Maarten (Dutch part)  1955                   610.66766
21109  Sint Maarten (Dutch part)  1957                   475.29102
21111  Sint Maarten (Dutch part)  1959                   471.24840
21102  Sint Maarten (Dutch part)  1950                   463.70790
21105  Sint Maarten (Dutch part)  1953                   408.73978
21110  Sint Maarten (Dutch part)  1958                   390.17386
21112  Sint Maarten (Dutch part)  1960                   376.49814

/Processed data saved

In [13]:
## final summary 
print("FINAL SUMMARY") 
print("-"*40) 
print(f"Rows: {len(co2_clean):,} | Countries: {co2_clean['entity'].nunique()}") 
print(f"Years: {co2_clean['year'].min()}-{co2_clean['year'].max()}")
print(f"Variables: {', '.join(co2_clean.columns)}") 

print("\nFirst 5 rows:") 
display(co2_clean.head(5))

print("\nLast 5 rows:") 
display(co2_clean.tail(5))

print("-"*40)
print("DATASET READY")

FINAL SUMMARY
----------------------------------------
Rows: 4,085 | Countries: 215
Years: 2005-2023
Variables: entity, code, year, emissions_total_per_capita, is_outlier

First 5 rows:

         entity code  year  emissions_total_per_capita  is_outlier
56  Afghanistan  AFG  2005                    0.077424           0
57  Afghanistan  AFG  2006                    0.084932           0
58  Afghanistan  AFG  2007                    0.108063           0
59  Afghanistan  AFG  2008                    0.160652           0
60  Afghanistan  AFG  2009                    0.232586           0

Last 5 rows:

         entity code  year  emissions_total_per_capita  is_outlier
26503  Zimbabwe  ZWE  2019                    0.672290           0
26504  Zimbabwe  ZWE  2020                    0.546847           0
26505  Zimbabwe  ZWE  2021                    0.647125           0
26506  Zimbabwe  ZWE  2022                    0.761205           0
26507  Zimbabwe  ZWE  2023                    0.822681           0

----------------------------------------
DATASET READY

### Dataset #2: Rate of Deaths and Missing Persons Due to Natural Disasters

This dataset tracks the relationship between natural disasters and their human impacts across countries from 2005 to 2023. 

A natural disaster is defined as a serious disruption to a community or society caused by hazardous events, resulting in human, material, economic, and/or environmental losses. Within this context, a death refers to the demise of a person during or immediately after such an event, while a missing person refers to an individual whose whereabouts are unknown following the event. These definitions help ensure consistency in reporting across countries and years.

The key metric in this dataset is the rate of deaths and missing persons per 100,000 population. This metric standardizes the impact of disasters, allowing fair comparison between countries of different population sizes. For instance, a rate of 5 per 100,000 indicates that, on average, five individuals per 100,000 population were killed or went missing in a given year due to natural disasters. Each row in the dataset corresponds to a single country (entity) for a specific year (year), with code providing a three-letter abbreviation for each country to allow easier reference and merging with other datasets. Only countries are included as entities,regions or aggregates are excluded, and years are restricted to the period 2005–2023 to ensure consistency across analyses.

There are several considerations when using this dataset. Underreporting is likely, especially in lower-income countries where infrastructure for tracking and reporting may be limited, meaning that reported impacts may significantly smaller than actual impacts. Aside from the understatement of impact, some countries have missing 2024 death aand missing person rates which significantly scales down our dataset, thus increasing the risk of bias in our analysis. Additionally, not all natural disasters captured in the dataset are climate-related as some may result from geological or other hazards. The dataset focuses solely on mortality and missing persons, not including other impacts such as displacement, injuries, or economic losses. These correlations must be interpreted carefully, keeping in mind that these metrics represent country-level averages and may hide disparities within countries.

In [3]:
import pandas as pd

# Configure libraries

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('display.precision', 2)

In [4]:
#load dataset
disasters = pd.read_csv("https://ourworldindata.org/grapher/deaths-and-missing-persons-due-to-natural-disasters.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})

In [5]:
#dataset prior to cleaning
# Note: _13_1_1__vc_dsr_mtmp = Number of deaths and missing persons attributed to disasters per 100,000 population (number)
# an _13_1_1__vc_dsr_mtmp of 0.00 means a rate of deaths and missing persons smaller than 10^-2
disasters

           entity code  year  _13_1_1__vc_dsr_mtmp
0     Afghanistan  AFG  2017                  0.05
1     Afghanistan  AFG  2018                  0.00
2     Afghanistan  AFG  2019                  0.97
...           ...  ...   ...                   ...
1968     Zimbabwe  ZWE  2005                  0.00
1969     Zimbabwe  ZWE  2017                  0.00
1970     Zimbabwe  ZWE  2019                  2.25

[1971 rows x 4 columns]

In [6]:
disasters = disasters.rename(columns= {'_13_1_1__vc_dsr_mtmp':'deaths_missing_per_100k'})

In [7]:
# The dataset is already tidy.
# 1. Each variable has it's own column
disasters.columns

Index(['entity', 'code', 'year', 'deaths_missing_per_100k'], dtype='object')

In [8]:
# 2. Every observation is a different row marked by an id
disasters.shape[0]
#The shape value is equivalent to the the max id + 1 (accounting for 0-index) two cells above

1971

In [9]:
#3. This table is solely designated for evaluating the relationship between deaths and missing person rates and disasters within a given country
#Thus, has one focus variable of _13_1_1__vc_dsr_mtmp

disasters[['entity', 'deaths_missing_per_100k']]

           entity  deaths_missing_per_100k
0     Afghanistan                     0.05
1     Afghanistan                     0.00
2     Afghanistan                     0.97
...           ...                      ...
1968     Zimbabwe                     0.00
1969     Zimbabwe                     0.00
1970     Zimbabwe                     2.25

[1971 rows x 2 columns]

In [10]:
#4. The dataset allows for joins and merges using a country's three-letter abbreviation
num_entities = disasters['entity'].nunique()

num_codes = disasters['code'].nunique()

#The number of entities is equivalent to the number of codes ensuring there is no incorrect reelationship drawn across datasets for a given country
print(num_entities == num_codes)

True

In [11]:
#dataset shape
disasters.shape

(1971, 4)

In [12]:
#number of rows of at least one missing value
rows_with_missing = disasters.isna().any(axis=1).sum()
print("Num of rows with missing info", rows_with_missing)

Num of rows with missing info 0

In [13]:
#count of rows with missing values per column 
missing_per_column = disasters.isna().sum()

print("Missing values per column:")
print(missing_per_column)

Missing values per column:
entity                     0
code                       0
year                       0
deaths_missing_per_100k    0
dtype: int64

All columns have non-null values and thus no relationship between missing values and columns can be drawn

In [37]:
#restrict to shared time frame
START_YEAR = 2005
END_YEAR = 2023

disasters = disasters[(disasters["year"] >= START_YEAR) & (disasters["year"] <= END_YEAR)]

In [38]:
#checking for incorrect values
incorrect_value_rows = disasters[disasters['deaths_missing_per_100k'] < 0]
incorrect_value_rows

Empty DataFrame
Columns: [entity, code, year, deaths_missing_per_100k, z_score, is_outlier]
Index: []

In [39]:
#checking for outliers
disasters['deaths_missing_per_100k'].describe()

count    1966.00
mean        5.84
std        27.29
          ...
50%         0.32
75%         1.56
max       462.54
Name: deaths_missing_per_100k, Length: 8, dtype: float64

There is a large gap between the maximum value and the mean value, indicating potential outliers.

In [40]:
%pip install scipy

Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.17.0)
Requirement already satisfied: numpy<2.7,>=1.26.4 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from scipy) (2.3.3)

[notice] A new release of pip is available: 25.1.1 -> 26.0.1
[notice] To update, run: pip3.13 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [44]:
import scipy.stats as stats
from scipy.stats import zscore

#Conducting a z-score to find outliers
#Outlier is defined as any data point past +/- 3 std

disasters.loc[:, 'z_score'] = zscore(disasters['deaths_missing_per_100k'].fillna(0))

outliers_z = disasters[abs(disasters['z_score']) > 3]

print("Number of Z-score outliers:", len(outliers_z))

#flagged all outlier
disasters.loc[:, 'is_outlier'] = abs(disasters['z_score']) > 3
disasters

Number of Z-score outliers: 31

           entity code  year  deaths_missing_per_100k  z_score  is_outlier
0     Afghanistan  AFG  2017                     0.05    -0.21       False
1     Afghanistan  AFG  2018                     0.00    -0.21       False
2     Afghanistan  AFG  2019                     0.97    -0.18       False
...           ...  ...   ...                      ...      ...         ...
1968     Zimbabwe  ZWE  2005                     0.00    -0.21       False
1969     Zimbabwe  ZWE  2017                     0.00    -0.21       False
1970     Zimbabwe  ZWE  2019                     2.25    -0.13       False

[1966 rows x 6 columns]

In [45]:
death_missing_persons = pd.read_csv("data/00-raw/death_missing_persons.csv")

### Dataset #3: GDP Per Capita 
This dataset provides a measure of economic output per person from 2005 to 2023, serving as a vital proxy for national wealth and income levels. By utilizing GDP per capita in constant USD (ny_gdp_pcap_pp_kd), we can caategorize countries into low and high income groups to analyze how financial resources influence global trends. The dataset contains 4,005 observations after filtering for valid countries and shared time frame. Key variables include the entity (country name), code (3-letter identifier for reliable merging), and year, which ensures all data points are algined for consistent analysis. 

While this dataset is essential for understanding economic standing, it has specific limitations. It does not account for income inequality within a nation, nor does it fully capture informal economies or regions outside the World Bank's purview. Furthermore, it is important to note that higher national wealth does not always translate to increased adaptive capacity in every context.

In [14]:
import pandas as pd 
import numpy as np 

##Load dataset
gdp = pd.read_csv("https://ourworldindata.org/grapher/gdp-per-capita-worldbank.csv?v=1&csvType=full&useColumnShortNames=true", 
                 storage_options ={'User-Agent': 'Our World in Data data fetch/1.0'},
                 na_values=['', ' ', 'NA', 'N/A', 'NaN', 'null']) 
print(f"Dataset loaded successfully!")
print(f"Initial shape: {gdp.shape}") 
print(f"Columns: {list(gdp.columns)}") 

print("\nFirst 5 rows of data:") 
display(gdp.head()) 

gdp.to_csv('data/00-raw/gdp-per-capita-raw.csv', index=False) 
print("Raw data saved")

Dataset loaded successfully!
Initial shape: (7240, 5)
Columns: ['entity', 'code', 'year', 'ny_gdp_pcap_pp_kd', 'owid_region']

First 5 rows of data:

        entity code  year  ny_gdp_pcap_pp_kd owid_region
0  Afghanistan  AFG  2000          1617.8264        Asia
1  Afghanistan  AFG  2001          1454.1108        Asia
2  Afghanistan  AFG  2002          1774.3087        Asia
3  Afghanistan  AFG  2003          1815.9282        Asia
4  Afghanistan  AFG  2004          1776.9182        Asia

Raw data saved

In [9]:
##Check for 5 variables (columns) 
print(f"\nNumber of variables: {gdp.shape[1]}") 
print(f"Variables: {list(gdp.columns)}") 

assert gdp.shape[1] == 5, f"Expected 5 columns, got {gdp.shape[1]}"
print("Dataset has 5 variables as expected")

Number of variables: 5
Variables: ['entity', 'code', 'year', 'ny_gdp_pcap_pp_kd', 'owid_region']
Dataset has 5 variables as expected

In [15]:
##Restrict to 2005-2023 
#restrict to shared time frame
START_YEAR = 2005
END_YEAR = 2023

gdp_filtered = gdp[(gdp['year'] >= START_YEAR) & (gdp['year'] <= END_YEAR)].copy()
print(f"After filtering to {START_YEAR}-{END_YEAR}: {gdp_filtered.shape[0]:,} rows") 

gdp_countries = gdp_filtered[gdp_filtered['code'].notna()].copy() 
print(f"After keeping only countries: {gdp_countries.shape[0]:,} rows") 

print("\nFirst 5 rows of GDP data:") 
display(gdp_countries.head())

print("\nLast 5 rows of GDP data:") 
display(gdp_countries.tail())

After filtering to 2005-2023: 4,005 rows
After keeping only countries: 4,005 rows

First 5 rows of GDP data:

        entity code  year  ny_gdp_pcap_pp_kd owid_region
5  Afghanistan  AFG  2005          1908.1147        Asia
6  Afghanistan  AFG  2006          1929.7239        Asia
7  Afghanistan  AFG  2007          2155.3530        Asia
8  Afghanistan  AFG  2008          2191.5044        Asia
9  Afghanistan  AFG  2009          2565.0220        Asia

Last 5 rows of GDP data:

        entity code  year  ny_gdp_pcap_pp_kd owid_region
7234  Zimbabwe  ZWE  2019          4993.8438      Africa
7235  Zimbabwe  ZWE  2020          4527.7197      Africa
7236  Zimbabwe  ZWE  2021          4827.0890      Africa
7237  Zimbabwe  ZWE  2022          5036.7610      Africa
7238  Zimbabwe  ZWE  2023          5218.0225      Africa

In [18]:
##List of expected key variables 
key_vars = ['entity', 'code', 'year', 'ny_gdp_pcap_pp_kd'] 

print("\nChecking key variables:") 
for var in key_vars: 
    if var in gdp_countries.columns: 
        print(f" '{var}' exists") 
        if var == 'ny_gdp_pcap_pp_kd':
            print(f" Sample values: ${gdp_countries[var].iloc[:5].values}")
    else: 
        print(f" '{var}' NOT found - check column names") 

gdp_cols = [col for col in gdp_countries.columns if 'gdp' in col.lower() or 'capita' in col.lower()] 
print(f"\nLikely GDP columns: {gdp_cols}")

Checking key variables:
 'entity' exists
 'code' exists
 'year' exists
 'ny_gdp_pcap_pp_kd' exists
 Sample values: $[1908.1147 1929.7239 2155.353  2191.5044 2565.022 ]

Likely GDP columns: ['ny_gdp_pcap_pp_kd']

In [29]:
##statistics 

print("\n" + "="*60) 
print(f"NAITONAL INCOME LEVEL SUMMARY ({START_YEAR}-{END_YEAR})") 
print("="*60) 

stats = gdp_countries['ny_gdp_pcap_pp_kd'].agg(['mean', 'median', 'min', 'max']).to_frame().T
stats.columns = ['Mean', 'Median', 'Min', 'Max']
display(stats.style.format("${:,.0f}"))

print(f"\nTop 5 Highest Income Countries ({START_YEAR}-{END_YEAR}):") 
latest_year = gdp_countries['year'].max() 
top_5 = (gdp_countries[gdp_countries['year'] == latest_year] 
         .nlargest(5, 'ny_gdp_pcap_pp_kd')[['entity', 'ny_gdp_pcap_pp_kd']])
display(top_5) 

print(f"\nBottom 5 Lowest Income Countries ({START_YEAR}-{END_YEAR}):") 
bottom_5 = (gdp_countries[gdp_countries['year'] == latest_year] 
            .nsmallest(5, 'ny_gdp_pcap_pp_kd')[['entity', 'ny_gdp_pcap_pp_kd']])
display(bottom_5)

============================================================
NAITONAL INCOME LEVEL SUMMARY (2005-2023)
============================================================

Top 5 Highest Income Countries (2005-2023):

          entity  ny_gdp_pcap_pp_kd
3853  Luxembourg         130048.920
5858   Singapore         129555.240
3102     Ireland         117862.125
5346       Qatar         116563.990
3888       Macao         104815.200

Bottom 5 Lowest Income Countries (2005-2023):

                            entity  ny_gdp_pcap_pp_kd
1036                       Burundi          1036.1671
1229      Central African Republic          1132.6764
6013                       Somalia          1401.6473
4476                    Mozambique          1512.2764
1674  Democratic Republic of Congo          1559.3380

In [30]:
## save data 
gdp.to_csv('data/00-raw/gdp-per-capita-raw.csv', index=False) 
gdp_filtered.to_csv('data/01-interim/gdp-per-capita-interim.csv', index=False)
gdp_countries.to_csv('data/02-processed/gdp-per-capita-processed.csv', index=False)

print("\n" + "="*60) 
print("DATA EXPORT & FINAL VALIDATION")
print("="*60) 

print(f"\nFinal dataset: {gdp_countries.shape[0]:,}country-year observations") 
print(f"Unique countries: {gdp_countries['entity'].nunique()}") 
print(f"Years: {gdp_countries['year'].min()} to {gdp_countries['year'].max()}")

============================================================
DATA EXPORT & FINAL VALIDATION
============================================================

Final dataset: 4,005country-year observations
Unique countries: 212
Years: 2005 to 2023

## Ethics

## A. Data Collection
 - [X] **A.1 Informed consent**: If there are human subjects, have they given informed consent, where subjects affirmatively opt-in and have a clear understanding of the data uses to which they consent?
    - This project uses publicly available, aggregated country level data collected by international organizations. No individual level data or human subjects are directly involved, so informed consent is not applicable.
 - [X] **A.2 Collection bias**: Have we considered sources of bias that could be introduced during data collection and survey design and taken steps to mitigate those?
    - Disaster related mortality may be biased due to underreporting in lower income countries with limited reporting/healthcare infrastructure. We will acknowledge this limitation and avoid over interpreting observed differences.
 - [X] **A.3 Limit PII exposure**: Have we considered ways to minimize exposure of personally identifiable information (PII) for example through anonymization or not collecting information that isn't relevant for analysis?
    - No PII is present in the datasets, as all data are aggregated at the country level.
 - [X] **A.4 Downstream bias mitigation**: Have we considered ways to enable testing downstream results for biased outcomes (e.g., collecting data on protected group status like race or gender)?
    - We explicitly include GDP per capita to examine differences across income groups, which helps identify potentially unequal impacts.

## B. Data Storage
 - [X] **B.1 Data security**: Do we have a plan to protect and secure data (e.g., encryption at rest and in transit, access controls on internal users and third parties, access logs, and up-to-date software)?
    - The data are publicly available and non-sensitive. They will be stored locally in CSV format for analysis.
 - [ ] **B.2 Right to be forgotten**: Do we have a mechanism through which an individual can request their personal information be removed?
 - [ ] **B.3 Data retention plan**: Is there a schedule or plan to delete the data after it is no longer needed?

## C. Analysis
 - [X] **C.1 Missing perspectives**: Have we sought to address blindspots in the analysis through engagement with relevant stakeholders (e.g., checking assumptions and discussing implications with affected communities and subject matter experts)?
    - We recognize that country level data cannot adequately capture inequalitues or lived experiences of affected communities and groups within said country. We will discuss these limitations when interpreting results.
 - [X] **C.2 Dataset bias**: Have we examined the data for possible sources of bias and taken steps to mitigate or address these biases (e.g., stereotype perpetuation, confirmation bias, imbalanced classes, or omitted confounding variables)?
    - We will examine missing data patterns and reporting differences across countries and explicitly frame results as correlational rather than causal.
 - [X] **C.3 Honest representation**: Are our visualizations, summary statistics, and reports designed to honestly represent the underlying data?
    - Visualizations and summary statistics will use approproiate scales and labels to avoid misleading representations and/or results.
 - [X] **C.4 Privacy in analysis**: Have we ensured that data with PII are not used or displayed unless necessary for the analysis?
    - No PII is used or displayed at anay stage of the analysis.
 - [X] **C.5 Auditability**: Is the process of generating the analysis well documented and reproducible if we discover issues in the future?
    - All data cleaning and analysis will be documented in a reproducible manner via Jupyter notebook. 

## D. Modeling
 - [X] **D.1 Proxy discrimination**: Have we ensured that the model does not rely on variables or proxies for variables that are unfairly discriminatory?
    - We ensured that the model does not rely on discriminatory proxies by using country-level variables adjusted for population size, like CO2 emissions per capita and GDP per capita. However, we recognize that these values may reflect historical inequalities, and thus interpret our results with this potential bias in mind.
 - [X] **D.2 Fairness across groups**: Have we tested model results for fairness with respect to different affected groups (e.g., tested for disparate error rates)?
    - We will evaluate fairness by comparing model performance across low-income and high-income countries to ensure that error rates are not systematically higher for one group. This will ensure that the model performs equitably across countries oof varying economic contexts.
 - [X] **D.3 Metric selection**: Have we considered the effects of optimizing for our defined metrics and considered additional metrics?
    - We considered that optimizing our model for overall regression could overlook differences across income groups or population sizes. Thus, we are evaluating based on country income and using variables that account for population variation.
 - [X] **D.4 Explainability**: Can we explain in understandable terms a decision the model made in cases where a justification is needed?
    - Yes, we are breaking down groups into subgroups based on income and population size to ensure easier evaluation, reducing the chance of proxies and ultimately, confusion in correlation and causation.
 - [X] **D.5 Communicate bias**: Have we communicated the shortcomings, limitations, and biases of the model to relevant stakeholders in ways that can be generally understood?
    - We will clearly communicate dataset limitations, potential biases, and uncertainties in the final report and discussion.

## E. Deployment
 - [X] **E.1 Redress**: Have we discussed with our organization a plan for response if users are harmed by the results (e.g., how does the data science team evaluate these cases and update analysis and models to prevent future harm)?
    - We will ensure that model results are not used to unfairly judge or stigmatize any country. This research is based on factual data and intended to gain a better understanding of how economic status relates to climate vulnerability.  
 - [ ] **E.2 Roll back**: Is there a way to turn off or roll back the model in production if necessary?
 - [X] **E.3 Concept drift**: Do we test and monitor for concept drift to ensure the model remains fair over time?
    - We monitor the model for the concept of drift by utilizing variables that account for historical inequality and differences in population size, regulating the potential of drift. 
 - [X] **E.4 Unintended use**: Have we taken steps to identify and prevent unintended uses and abuse of the model and do we have a plan to monitor these once the model is deployed?
    - To prevent misuse, we provide context for interpretation, limit claims to factual insights, and plan to monitor how results are communicated and applied based on applied citations in papers.

## Team Expectations

  Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually.

* *Means of communication regarding project details and materials will be through Slack and meeting times or casual communication will be through messages.*
* *All team members are expected to respond to messages in group chats within 24 hours to prevent blockers and maximize productivity.*
* *Upon a rise of conflict, team members will approach the situation with clear communication and will attempt resolving thee conflict without external help. However, if the issue ccontinues, other team members or external sources can be used to mediate or assist in conflict resolution.*
* *If there are conflicting opinions regarding a project detail, a majority vote will be used to make a decision.*
* *For major tasks, we will all agree upfront on specific definitions of "complete" to ensure quality and clairty before work begins.*
* Use a centralized Google Sheet as our project tracker to visualize our timeline, assign responsibilities, and monitor deadlines. Also using a color scheme system to provide a view of our collective progress.

## Project Timeline Proposal

| Meeting Week  | Meeting Time | Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/2 - 2/9  |  TBD  | Read and research dataset, finish project proposal, brainstorm  | Finalize research question, datasets, proposal submission, begin working on project and following epectations and project outline as previously discussed | 
| 2/16  |  TBD  |  Do background research on topic and understand datasets | Data cleaning, merging, and validation | 
| 2/23  | TBD  | Ensure data work is finished and everyone is on board, make sure on pace  | Exploratory data analysis and visualization, warangling methods   |
| 3/2  | TBD  | Finished previous data wrangling, EDA, and visualization work | Review/Edit wrangling/EDA and begin statistical analysis and interpretation   |
| 3/9  | TBD  | Finalize wrangling/EDA, analysis, interpretation, gather thoughts and ideas for final report writing and make sure all personal tasks completed | Discuss/edit Analysis, Complete project check-ins, complete individual tasks, write final report together, refine visualizations and video creation |